<% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="container">
  <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
              <div class="list-group">
                <a href="#" class="list-group-item active text-center">
                  <h4 class="glyphicon glyphicon-user"></h4><br/>Photo Change
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-road"></h4><br/>General settings
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-home"></h4><br/>Address
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-eye-open"></h4><br/>Change Password
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-remove-circle"></h4><br/>Deactivate account
                </a>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
                    <center>
                      <div class="profilepic_container">
                      <a href="<%= @profile.image %>" target="_blank">
                      <%= image_tag @profile.image ,class: "profilepic" %>
                      </a>
                      </div>
                      <h3 style="margin-top: 0;color:#55518a">Image Change</h3>
                       <%= form_for :profile, url: profile_path(@profile), method: :patch, html: { multipart: true } , remote: true do |form| %>
                            
                          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                          <%= form.file_field :image , class: "form-control uploadimages"%>
                          </div>
                           
                           <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <%= form.submit  class: "btn btn-success" %>
                          </div>
                          <% end %>
                    </center>
                </div>
                <!-- train section -->
                <div class="bhoechie-tab-content">
                    <center>
                     
                      <h3 style="margin-top: 0;color:#55518a">General Settings</h3>
                      <%= form_for :profile, url: update_email_user_profile_index_path(@profile), method: :patch , remote: true  do |form| %>
                       <div class="form-group" >
                            <%= form.label :first_name %><br>
                          <%= form.text_field :first_name , class: "form-control" %>
                          </div>
                          <div class="form-group" >
                            <%= form.label :last_name %><br>
                          <%= form.text_field :last_name , class: "form-control" %>
                          </div>
                          <div class="form-group" >
                          <%= form.label :Email %><br>
                          <%= form.text_field :email , class: "form-control",value: current_user.email %>
                          </div>
                           <div class="form-group" >
                            <%= form.submit class: "btn btn-success" %>
                         </div>
                          <% end %>

                    </center>
                </div>
    
                <!-- hotel search -->
                <div class="bhoechie-tab-content">
                    <center>
                      
                      <h3 style="margin-top: 0;color:#55518a">Address</h3>
                        <%= form_for :profile, url: profile_path(@profile), method: :patch , remote: true do |form| %>
                        <div class="form-group" >
                            <%= form.label :address %><br>
                          <%= form.text_field :address , class: "form-control" %>
                          </div>
                          <div class="form-group" >
                            <%= form.label :state %><br>
                          <%= form.text_field :state , class: "form-control" %>
                          </div>
                          <div class="form-group" >
                          <%= form.label :country %><br>
                          <%= form.text_field :country , class: "form-control" %>
                          </div>
                          <div class="form-group" >
                            <%= form.submit  class: "btn btn-success" %>
                          </div>
                          <% end %>



                    </center>
                </div>
                <div class="bhoechie-tab-content">
                    <center>
                    <h3 style="margin-top: 0;color:#55518a">Change Password</h3>
                    <%= form_for(current_user, :url => { :action => "update_password" } )  do |form| %>

                          <div class="form-group">
                            <%= form.label :current_password %> <br />
                            <%= form.password_field :current_password,class: "form-control" %>

                            
                          </div>

                          <div class="form-group">
                            <%= form.label :password_confirmation %><br />
                            
                             <%= form.password_field :password, :autocomplete => "off" ,class: "form-control" %>
                          </div>

                          <div class="form-group">
                            <%= form.label :current_password %> 
                            
                              <%= form.password_field :password_confirmation ,class: "form-control" %>
                          </div>

                          <div class="form-group">
                            <%= form.submit "Update",class: "btn btn-success" %>
                          </div>


                        <% end %>
                    </center>
                </div>
                <div class="bhoechie-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-credit-card" style="font-size:12em;color:#55518a"></h1>
                      
                      <h3 style="margin-top: 0;color:#55518a">Account Delete</h3>
                        <% if current_user %>
                         <%= link_to "Delete Account", user_destroy_user_profile_index_path(@profile), method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-primary" %>
                          <% end %>
                    </center>
                </div>
            </div>
        </div>
  </div>
</div>



